---
import { CONTENT_TYPE_LIST } from '@/consts';
import { SideMenu } from '@/feature/components/SideMenu';
import { ThemeDropdown } from '@/feature/Theme/ThemeDropdown';
import { BackButton } from '@/layouts/component/BackButton';
import { DefaultHeader } from '@/layouts/component/DefaultHeader';
import PageLayout from '@/layouts/PageLayout.astro';
import PostsGrid from '@/layouts/PostsGrid.astro';
import { ContentBuilder } from '@/service/mdx';

export async function getStaticPaths() {
  return CONTENT_TYPE_LIST.map((props) => ({
    params: { postType: props.type },
    props
  }));
}

const { title, description, type, icon } = Astro.props;

const posts = (await ContentBuilder.collection(type)).list();
---

<PageLayout seo={{ title, description }}>
  <DefaultHeader client:load icon={icon} title={title}>
    <p class="my-10">{description}</p>
  </DefaultHeader>

  <PostsGrid posts={posts} />

  <SideMenu className="pt-20">
    <BackButton client:only="react" />
    <ThemeDropdown client:only="react" />
  </SideMenu>
</PageLayout>
