---
import '@/styles/global.css';

import { SITE_DESCRIPTION, SITE_TITLE } from '@/consts';
import { Button, Heading, Paragraph } from '@/feature/shadcn';
import BaseHead from '@/layouts/BaseHead.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead description={SITE_DESCRIPTION} title={SITE_TITLE} />
  </head>
  <body>
    <main>
      <Heading variant="h1"> Hello World </Heading>

      <Heading variant="h2">Hello World</Heading>

      <Heading variant="h3">Hello World</Heading>

      <Heading variant="h4">Hello World</Heading>

      <Paragraph> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos. </Paragraph>

      <Button> Click me </Button>
    </main>
  </body>
</html>
